body {
    font-family: "Calibri", sans-serif;
    background-color: black;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: lightgrey;
}

.right {
    scale: 1.7;
    text-align: center;
    color: lightgrey;
    margin: 40px;
}




/* Matrix = Nichts ändern!! */
.matrix {
    margin-inline: auto;
    background-color: dimgrey;
    width: 685px;
    height: 685px;
    border-radius: 6%;
}

.row {
    height: 40px;
}

.led {
    background-color: lightgrey;;
    width: 80px;
    height: 80px;
    float: left;
    margin: 5px 0px 0px 5px;
    border-radius: 50%;
}

.on {
    background-color: #ff3535;
}