body {
    font-family: "Calibri", sans-serif;
    background-color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: lightgrey;
}

.right {
    scale: 2;
    text-align: center;
    color: lightgrey;
    margin: 40px;
}




/* Matrix = Nichts ändern!! */
.matrix {
    margin-inline: auto;
    background-color: dimgrey;
    width: fit-content;
    height: 845px;
}

.row {
    height: 40px;
}

.led {
    background-color: lightgrey;;
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px 0px 0px 5px;
    border-radius: 50%;
}

.on {
    background-color: #ff3535;
}